body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    border: 2px solid;
}
h1{
    color : blue;
    font-size : 40px; 
}
h2{
    color:rgb(226, 43, 43);
}
.box {
    height: 400px;
    width: 400px;
    background-color: purple;
    border: 7px solid;
    padding: 25px;
}
#profile-image{
    height: 250px;
    width: 250px;
    border: 7px;
    border-radius: 70%;
}
.container{
    padding: 16px;
}
.container >div h2{
    
    text-align: center;
}
.intro{
    margin : -16px;
    padding:16px;
    color:rgb(81, 0, 255);
    background-color: rgb(127, 219, 235);
    text-align: center; 
    text-decoration: none;
}
.intro a{
    text-decoration: none;
    margin : auto 16px;
}
.links{
    height: 20px;
    width: 20px;
    /* border-radius: 3px solid; */
    text-align: center;
}
/* .links a{
    text-decoration: none;
    margin: auto 32px;
} */
table,tr,td,th{
    border: 2px solid;
    border-collapse: collapse;
}
th,td{
    padding: 8px;
    text-align:center;
}
p{
    font-size: 2 rem;
}
.dynamic-text-color{
    color:brown;
}
